h1{
<<<<<<< HEAD
  color:blue;
  font-family: sans-serif;
=======
<<<<<<< HEAD
  color:blue;
  font-family: sans-serif;
  font-size: 3em;

=======
  color: purple;
>>>>>>> d248826b2aaeac1158193c4473ed8d2d42f19689
>>>>>>> 76d1efb33adc5dee5884fd9b9772e1abfeb5c6b7
}
